<!DOCTYPE html>
<html>
  <head>
    <title>Permaculture Design Tool</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}" />
    <script type="module" src="{% static 'map/baseMap.js' %}"></script>
  </head>

  <body>
    <h2>Welcome to the Permaculture design helper!</h2>

    <!-- Use key signature for more security -->
    <img src="https://maps.googleapis.com/maps/api/staticmap?{{location}}&size=500x400&key={{API_Key}}">

    <p> The parameters are: {{location}} </p>

  </body>
</html>
